* {
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    font-family: "Poppins";
}
html { 
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
}
nav { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 40px 25px 50px;
    font-size: 1.7rem;
    box-shadow: 0 0 30px rgba(146, 54, 54, 0.09);
}
nav ul { 
    list-style: none;
    gap: 2rem;
    display: flex;
}
nav a {
    text-decoration: none;
    color: grey;
}
#home {
    height: 40rem;
    background-color: #D7E4C0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content h1 { 
    margin: 20px 0px;
}
#about { 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40rem;
    gap: 2rem;
    background-color: #C6DCBA;
}
.frontendImage { 
    border-radius: 1.50rem;
    height: 20rem;
}
.content h4 {
    color: blue;
}
#projects {
    background-color: #BBC3A4;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30rem;
}
#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #B3A398;
}
.contact { 
    padding: 100px 150px 100px 150px;
}
.contact h4 {
    color: blue;
}
.contactLinks { 
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-top: 3rem;
}
.icon { 
    font-size: 1.6rem;
    border: solid 1px black;
    border-radius: 50%;
    padding: 10px;
}
#location { 
    display: flex;
    align-items: center;
}
#mail { 
    display: flex;
    align-items: center;
}
#insta { 
    display: flex;
    align-items: center;
}
.text {
    padding-left: 5px;
}
footer { 
    background-color: #2d2e32;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer h4 { 
    color: white;
    margin: 5rem;
}